*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
}


body{

    min-height:100vh;
    background:#000;
    color:white;

    display:flex;
    justify-content:center;

    transition:0.3s;

}



.app{

    width:390px;
    min-height:100vh;

    padding:20px;
    padding-bottom:100px;

}



header{

    margin-bottom:20px;

}



header h1{

    font-size:32px;

}



header p{

    color:#888;
    font-size:15px;

}




/* Display */

.display-box{

    height:130px;

    display:flex;
    flex-direction:column;

    justify-content:flex-end;

    margin-bottom:15px;

}



#previous{

    height:30px;

    color:#888;

    font-size:18px;

    text-align:right;

}



#display{

    width:100%;

    background:none;

    border:none;

    outline:none;

    color:white;

    font-size:45px;

    text-align:right;

}





/* Scientific buttons */

.scientific{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:10px;

    margin-bottom:15px;

}





/* Main buttons */

.buttons{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:12px;

}




button{

    height:60px;

    border:none;

    border-radius:50%;

    background:#333;

    color:white;

    font-size:20px;

    cursor:pointer;

    transition:0.15s;

}




button:active{

    transform:scale(0.9);

}





.orange{

    background:#ff9500;

    color:white;

}





.gray{

    background:#a5a5a5;

    color:black;

}





.zero{

    grid-column:span 2;

    border-radius:40px;

    text-align:left;

    padding-left:25px;

}






/* History */

#historyList{

    margin-top:20px;

    max-height:300px;

    overflow:auto;

}



#historyList p{

    background:#222;

    padding:10px;

    border-radius:10px;

    margin-bottom:8px;

}





/* Settings */

.setting{

    background:#222;

    padding:15px;

    margin:15px 0;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.setting button{

    height:40px;

    width:80px;

    border-radius:20px;

}





/* Bottom Navigation */

nav{

    position:fixed;

    bottom:0;

    left:50%;

    transform:translateX(-50%);

    width:390px;

    background:#111;

    display:flex;

    justify-content:space-around;

    padding:10px;

    border-top:1px solid #333;

}




nav button{

    background:none;

    height:55px;

    font-size:13px;

}





/* Hide pages */

.hide{

    display:none;

}





/* Light Theme */

body.light{

    background:#eee;

    color:#111;

}



body.light #display{

    color:#111;

}



body.light .setting,

body.light #historyList p{

    background:white;

    color:black;

}



body.light nav{

    background:white;

}



body.light nav button{

    color:black;

}





@media(max-width:450px){


    .app{

        width:95%;

    }


    nav{

        width:100%;

    }


    button{

        height:65px;

    }


}
