*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI";

}


body{

background:#000;
color:white;

}



.app{

width:390px;
margin:auto;
min-height:100vh;
padding:20px;
padding-bottom:90px;

}



header{

margin-bottom:20px;

}


header h1{

font-size:32px;

}


header p{

color:#888;

}



.display-box{

height:120px;

text-align:right;

}



#previous{

color:#888;
height:30px;

}



#display{

width:100%;

font-size:45px;

background:none;

border:none;

color:white;

text-align:right;

}



.scientific,
.buttons{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:10px;

margin-bottom:15px;

}



button{

height:60px;

border:none;

border-radius:50%;

background:#333;

color:white;

font-size:20px;

}



button:active{

transform:scale(.9);

}



.orange{

background:#ff9500;

}



.gray{

background:#aaa;

color:black;

}



.zero{

grid-column:span 2;

border-radius:40px;

}



nav{

position:fixed;

bottom:0;

width:390px;

background:#111;

display:flex;

justify-content:space-around;

padding:10px;

}



nav button{

background:none;

height:50px;

font-size:14px;

}



.hide{

display:none;

}



#historyList{

margin-top:20px;

}



.setting{

background:#222;

padding:15px;

border-radius:15px;

margin:15px 0;

display:flex;

justify-content:space-between;

}



.version{

color:#888;

margin-top:40px;

}
