*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;

}


body{

height:100vh;
background:#000;
display:flex;
justify-content:center;
align-items:center;

}



.app{

width:390px;

}



.brand{

color:white;
margin-bottom:20px;

}


.brand h2{

font-size:28px;

}


.brand p{

color:#888;

}



.calculator{

background:#000;

}



.display-box{

height:130px;

color:white;

text-align:right;

padding:20px;

}



#previous{

height:30px;

color:#888;

font-size:20px;

}



#display{

width:100%;

background:none;

border:none;

outline:none;

color:white;

font-size:45px;

text-align:right;

}



.buttons{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:12px;

}



button{

height:75px;

border-radius:50%;

border:none;

background:#333;

color:white;

font-size:26px;

cursor:pointer;

}



button:active{

transform:scale(.93);

}



.function{

background:#a5a5a5;

color:black;

}



.operator{

background:#ff9500;

}



.equal{

background:#ff9500;

}



.zero{

grid-column:span 2;

border-radius:40px;

text-align:left;

padding-left:30px;

}



@media(max-width:450px){

.app{

width:95%;

}

button{

height:65px;

}

}
